<section>
    <a href='/profile-page/{{profile.id}}'> &larr; back to profile</a>
    
    <h2>Edit Profile</h2>

    <div>username: {{profile.user.username}}</div>

    <form id='edit-profile-form' class='edit-profile-form'>
        <div>
            <label for='display-name' class='form-label'>display name:</label>
            <input
                name='display-name'
                type='text'
                class='form-control'
                value='{{profile.display_name}}'
            />
        </div>
        <div>
            <label for='birthday' class='form-label'>birthday:</label>
            <input
                name='birthday'
                type='text'
                class='form-control'
                value='{{profile.birthday}}'
            />
        </div>
        <div>
            <label for='location' class='form-label'>location:</label>
            <input
                name='location'
                type='text'
                class='form-control'
                value='{{profile.location}}'
            />
        </div>
        <div>
            <label for='bio' class='form-label'>bio:</label>
            <textarea
                name='bio'
                class='form-control'
                rows='5'
            >{{profile.bio}}</textarea>
        </div>
        
        <button type='submit' class='btn'>save profile changes</button>
        {{!-- <button type='button' class='btn' id='delete-account-btn'>delete account</button> --}}
    </form>

</section>

<script src='/javascript/edit-profile.js'></script>
{{!-- <script src='/javascript/delete-profile.js'></script> --}}