<section class='profile-section'>
    <a href='/profile-page/{{profile.id}}' class='normal-link'> &larr; back to profile</a>
    
    <h2>Edit Profile</h2>

    <div class='mb-3'><strong>username</strong>: {{profile.user.username}}</div>

    <form id='edit-profile-form' class='edit-profile-form'>
        <div class='mb-3'>
            <label for='display-name' class='form-label'><strong>display name</strong>:</label>
            <input
                name='display-name'
                type='text'
                class='form-control'
                value='{{profile.display_name}}'
            />
        </div>
        <div class='mb-3'>
            <label for='birthday' class='form-label'><strong>birthday</strong>:</label>
            <input
                name='birthday'
                type='text'
                class='form-control'
                value='{{profile.birthday}}'
            />
        </div>
        <div class='mb-3'>
            <label for='location' class='form-label'><strong>location</strong>:</label>
            <input
                name='location'
                type='text'
                class='form-control'
                value='{{profile.location}}'
            />
        </div>
        <div class='mb-3'>
            <label for='bio' class='form-label'><strong>bio</strong>:</label>
            <textarea
                name='bio'
                class='form-control'
                rows='5'
            >{{profile.bio}}</textarea>
        </div>
        
        <button type='submit' class='btn btn-dark'>save profile changes</button>
        {{!-- <button type='button' class='btn btn-danger' id='delete-account-btn'>delete account</button> --}}
    </form>

</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.7.0/validator.min.js"></script>
<script src='/javascript/edit-profile.js'></script>
{{!-- <script src='/javascript/delete-account.js'></script> --}}