<section>
  <h2>{{profile.display_name}}'s profile</h2>

  <div>    
    <div class='mb-3'><strong>age</strong>
        <div>
            {{format_age profile.birthday}}
        </div>
    </div>

    <div class='mb-3'><strong>sun sign</strong>
        <div>
            {{format_sunsign profile.birthday}}
        </div>
    </div>

    <div class='mb-3'><strong>location</strong>
        <div>
            {{profile.location}}
        </div>
    </div>
    
    {{#if profile.bio}}
    <div class='mb-3'><strong>bio</strong>
        <div>
            {{profile.bio}}
        </div>
    </div>
    {{/if}}
  </div>

  {{!-- FIXME: only display EDIT button if user is viewing their own profile --}}
  <a href="/profile-page/edit/{{profile.id}}" class="btn btn-dark">edit profile</a>
</section>
