<section>
  <h2>My Profile</h2>

  <div>
    <div>username: {{profile.user.username}}</div>
    <div>display name: {{profile.display_name}}</div>
    <div>birthday: {{profile.birthday}}</div>
    <div>location: {{profile.location}}</div>
    <div>bio: {{profile.bio}}</div>
  </div>
</section>
